.App { width: 100vw; height: 100vh; display: flex; flex-direction: column; }



main { flex: 1; overflow: auto; }

h1{
    font-family: 'Roboto Slab', serif;
    font-size:60px;
    color:#f0aa6d;

}

h2{
    font-family: 'Roboto Slab', serif;
    font-size:50px;
    color:#f0aa6d;
    padding-top: 40px;
}

.snack-title{
    background-color: #606C38;
    font-size:40px;
    color:#f0aa6d;
    padding-bottom: 5px;
    border-radius: 15%;
}

.addbutton{
    margin: 10px;
}

.link-custom{
    color:#f0aa6d;
}

.card {
    display: flex;
    flex-direction: column;
  }

  .card-home{
    background-color: #f0aa6d;
  }

  .card-page{
    background-color:#f0aa6d;

  }

  .card-pro{
    background-color: #C5DCA0;
  }
  
  .card-img-top {
    height: 200px;
    width: auto;
    object-fit: cover;
  }

.center-text{
    padding-top:12px;
}

.center-title{
    text-align: center;
}

.divi{
    font-size: 40px;

    padding-left: 5px;
    padding-right: 5px;
}

.err-pic{
    width:500px;
    height:500px
}

.search-butt{
    background-color: #C5DCA0;
    color:#f0aa6d;
}

.sign-up{
    background-color: #606C38;
    color: #f0aa6d;
   border-radius: 10%;
   padding: 5px 5px 0 5px
}

.login-up{
    color:#f0aa6d;
    background-color: #606C38;
    margin-top: 400px;
    padding-bottom:1px;
    
}
.navbar-custom {
    background-color: #606C38;
    color:#f0aa6d;
    padding: 10px;
}

.nav-link-custom:hover {
    border: 2px solid #f0aa6d;
    border-radius: 10px;
  }
  
nav ul {
    list-style-type: none;
    
    margin: 0;
}

.nav-toggle-custom{
    color:#f0aa6d;
    background-color: #f0aa6d;
}

nav a {
    color: white;
    font-size: 1.5em;
}

.navbar-brand-custom{
    color:#f0aa6d;
}

.nav-link-custom {
    color:#f0aa6d;

}

.pro-title{
    font-size: 50px;
}

.pro-sub{
    font-size: 25px;
}

p {
    font-size:25px;

    padding-top: 30px;
}


nav li {
    display: inline;
    
    margin-right: 25px;
}


nav a:hover {
    color: lightblue;
    text-decoration: none;
}

.product-img{
    width: auto;
    height:500px;
}

.sub-home{
    background-color: #C5DCA0;

}

/* main {
    margin-right: 20px;
    margin-left: 20px;
    padding: 20px;
    background-color: #D0E3CC;
} */

.user-drop{
   color:#f0aa6d;
    font-size: 14px ;
}

.view-all{
    color:#f0aa6d;
    font-size: 34px ;
}

.App{
    background-color: #D0E3CC;
}